---
---

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

div.row:first-child {
  margin-top: 70px;
}

.welcome {
  background-color: #ddd;
  padding: 0px 15px 20px 15px;
}

h1,h2 {
  font-weight: 600
}

img {
  max-width: 100%
}

svg {
  width:20px;
}

strong {
  font-weight: 600;
}

.pitch {
  padding: 10px;
  background-color: #cccccc;
  margin-bottom: 35px;
}
