body {
  font-family: 'Raleway', sans-serif;
}
h1,h2 {
  font-weight: 600
}

img {
  max-width: 100%
}

svg {
    width:20px;
}

strong {
  font-weight: 600;
}

.pitch {
  padding: 10px;
  background-color: #cccccc;
  margin-bottom: 35px;
}
