---
---

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

div.row {
  &:first-child{
    margin-top: 18px;
  }
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px solid #dddddd;
}

div.row:last-child {

}

.welcome {
  background-color: #ddd;
  padding: 1px 15px 20px 15px;
  margin-top: 50px;
}

h1,h2 {
  font-weight: 600
}

img {
  max-width: 100%
}

svg {
  width:20px;
}

strong {
  font-weight: 600;
}

.pitch {
  padding: 10px;
  background-color: #cccccc;
  margin-bottom: 35px;
}
