---
---

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-top:50px;
}

div.row {
  &.unbounce {
    background-color: rgb(237,167,106);
    border: 4px solid rgb(220,138,84);
    color: #555;
    padding: 1px 15px 20px 15px;
    margin-top: 50px;
  }
  .welcome {
    background-color: #eee;
    padding: 1px 15px 20px 15px;
    margin-top: 30px;
  }
  padding-top: 10px;
  padding-bottom: 30px;
  &.post:not(:first-child) {
    border-top: 1px solid #dddddd;
  }
}

div.row:last-child {

}

#right-bar-fixed {
  position:fixed;
  right: 40px;
  overflow-y:scroll;
  overflow-x:hidden;
  max-height: 80%;
}

h1,h2,h3 {
  font-weight: 600
}

.post-excerpt {
  margin-bottom: 20px;
  font-size: 14px;
}

img {
  max-width: 100%;
  &.thumb {
    max-width: 40%;
    width: auto;
    margin-left: 20px;
    margin-top: 8px;
  }
  &.thumb-border {
    border: 1px solid #dddddd;
  }
}

.post-link {
  margin-bottom: 5px;
  border-bottom: 1px dotted #dddddd;
}

svg {
  width:20px;
}

strong {
  font-weight: 600;
}

.pitch {
  padding: 10px;
  background-color: #cccccc;
  margin-bottom: 35px;
}
