---
layout: default
---

<div class="row">
  <div id="right-bar-fixed" class="col col-md-4">
    <div class="row welcome">
      <div class="col-md-12">
        <h2>Say Hi.</h2>
        <h4>
          <span class="text-muted">Have a project, idea, or question you want to chat about? </span>
        </h4>
        <a href="contact" class="btn btn-primary">Get in touch</a>
      </div>
    </div>
    <div id="post-links" class="row">
      <h4>Posts:</h4>
      {% for post in site.posts %}
        {% if post.published %}
        <p class="post-link">
          <a href="#{{ post.slug }}">{{ post.title }}</a><br>
        </p>
        {% endif %}
      {% endfor %}
    </div>
    <!--div class="row unbounce">
      <div class="col-md-12">
        <h2>Need help?</h2>
        <h4>
          <span>Want to automate your business? Looking for a custom Google Apps add-on? </span>
        </h4>
        <a href="contact" class="btn btn-default">We can help</a>
      </div>
    </div-->
  </div>
  <div class="col col-md-7">
      {% for post in site.posts %}
        {% if post.published %}
        <div class="row post" id="{{ post.slug }}">
          <div class="col-md-12">
          <h3>{{ post.title }}</h3>
          {% if post.thumb %}
            <img src="{{post.thumb}}" class="pull-right thumb{% if post.thumb-border %} thumb-border{% endif %}">
          {% endif %}

          {% if post.remoteUrl %}
            <p class="post-excerpt">{{ post.excerpt }}</p>
            <a href="{{post.remoteUrl}}" class="btn btn-primary">Read</a>
          {% else %}
            <p class="post-excerpt">{{ post.excerpt }}</p>
            <a href="{{post.url}}" class="btn btn-primary">Keep reading...</a>
          {% endif %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
  </div>

</div>
<!-- <div class="row">
  <h3>Things I've Favorited on Twitter</h3>
  <p class="text-muted"><strong>Disclaimer:</strong> Favorites are not endorsements 👍 </p>
  <a class="twitter-timeline" href="https://twitter.com/jdmaresco/favorites" data-widget-id="635527604230057984">Favorite Tweets by @jdmaresco</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div> -->
