
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://jd.mares.co">{{ site.name }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="link-nav-holder" class="collapse navbar-collapse" id="main-navbar">
      <ul id="link-nav" class="nav navbar-nav navbar-right text-uppercase">

        {% for link in site.navLinks %}
          {% if link.name and link.show %}
            {% if link.url == page.url %}
              {% assign active   = 'active' %}
              {% assign activeSR = '<span class="sr-only">(current)</span>'%}
            {% endif %}

            <li class="nav-item {{active}}">
              <a class="nav-link" href="{{ link.url | prepend: site.url }}">{{ link.name }} {{activeSR}}</a>
            </li>

            {% assign active   = '' %}
            {% assign activeSR   = '' %}
          {% endif %}
        {% endfor %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
