<hr>
<div class="col-sm-8 col-sm-offset-2">
  <h4>Growing startup?</h4>

  Is your business growing faster than your current processes can handle? I work with startups to build lightweight processes and workflow solutions to help teams like yours get to the next level.
  I've seen so many businesses (both startups and Fortune 100 companies) mistakenly believe that the answer is full-scale, custom software, when the most sensible solution for a young company is often much, much simpler (and cheaper!)

  <br><br>
  Send me an email at jd@mares.co to set up a free chat.
  <br><br>
</div>
