<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include header.html %}

    <body>
      <div class="container">
        {{ content }}
      </div>

    {% include footer.html %}
    <script>
      $(function() {
        $("a[href^=#]").click(function(e) {
          e.preventDefault();
          $('html, body').animate({
              scrollTop: $( $.attr(this, 'href') ).offset().top - 50
          }, 1000, 'swing');
          return false;
        })
      })
    </script>
    </body>

</html>
