---
layout: default
---

<div class="row top">
  <div class="col-sm-12">
    <h2>{{ page.title }}</h2>
	  <p class="meta">{{ page.date | date: "%b %-d, %Y" }}</p>
	  <p class="meta"><a href="#comments">View Comments</a></p>
  </div>
</div>

<div class="row">
  	<article class="col-sm-12">
  		{{ content }}
  	</article>

    {% include pitch.html %}
</div>

{% if page.comments %}
<div class="row">
  <a name="comments"></a>
  <div class="col-sm-12" id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'jdmaresco';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}

<!-- HIGHLIGHT JS -->
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
